
    .button {
        display: inline-block;
        padding: 5px 5px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #1034d6;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-left: 50px;
        
      }
      
      .button:hover {background-color: #1034d6}
      
      .button:active {
        background-color: #121312;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      mat-card-title {
        color: blue;
        font-size: 55px;
        justify-content: center;
        display: flex;
      }