<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  
  <body> -->
<!-- <pdf-viewer
   [src]="pdfsrc"
   [render-text]="true"
   style="display:block;"
   ></pdf-viewer> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
  <div>
    <img src="../../assets/STGbluelogo.jpg" alt="stg" style="width:60px;height:70px" class="responsive">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2bWXjC4cVw4mPgVGMUS8PnsVCaxCIchkCjgNGqDiIelLhn8f3e6nKD83dnbaagjL8Og&usqp=CAU"
      alt="logo" style="width:100px;height:70px">
  </div>
  <h1 class="mb-3">Systems Technology Group(STG)</h1>
  <div class="header-right">
    <div class="btn1">
      <button mat-button style="background-color:rgb(13, 10, 218); color:white" mat-button [matMenuTriggerFor]="menu">
        <i class="fa fa-bars"></i> Menu </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openPopup()"> Devops</button>
        <button mat-menu-item (click)="openJava()"> Java</button>
      </mat-menu>
    </div>
  </div>
</div>
<div>
  <div style="font-weight:bold ;">
    <h3 class="mb-5">We innovate
      to enable your digital business.</h3>
  </div>
  <p>STG’s teams are empowered to move fast and do what’s right for our clients, making us more personal and nimble than
    traditional consulting firms. We care deeply about helping you tackle your biggest business challenges and turn your
    vision into reality.
  </p>
  <p>With STG, it’s never just about the project at hand. It’s about building trust and enabling your long-term success.
    We meet you where you are, embed our people with yours, and share our deep technology skills every step of the way.
  </p>
  <br>

  <router-outlet></router-outlet>
</div>



<footer class="ct-footer">
  <div class="container">
    <form name="contentForm" enctype="multipart/form-data" method="post" action="">
    </form>
    <ul class="ct-footer-list text-center-sm">
      <li>
        <h2 class="ct-footer-list-header">Learn More</h2>
        <ul>
          <li>
            <a href="https://www.stgit.com/who-we-are/">Company</a>
          </li>
          <li>
            <a href="https://www.stgit.com/partners/">Clients</a>
          </li>
          <li>
            <a href="https://www.stgit.com/news/">News</a>
          </li>
          <li>
            <a href="https://www.stgit.com/careers/">Careers</a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">Services</h2>
        <ul>
          <li>
            <a href="">Design</a>
          </li>
          <li>
            <a href="">Marketing</a>
          </li>
          <li>
            <a href="">Sales</a>
          </li>
          <li>
            <a href="">Programming</a>
          </li>
          <li>
            <a href="">Support</a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">The Industry</h2>
        <ul>
          <li>
            <a href="">Thought Leadership</a>
          </li>
          <li>
            <a href="">Webinars</a>
          </li>
          <li>
            <a href="">Events</a>
          </li>
          <li>
            <a href="">Sponsorships</a>
          </li>
          <li>
            <a href="">Advisors</a>
          </li>
          <li>
            <a href="">Training Program</a>
          </li>
          <li>
            <a href="">Activities & Campaigns</a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">Public Relations</h2>
        <ul>
          <li>
            <a href="">WebCorpCo Blog</a>
          </li>
          <li>
            <a href="">Hackathons</a>
          </li>
          <li>
            <a href="">Videos</a>
          </li>
          <li>
            <a href="">News Releases</a>
          </li>
          <li>
            <a href="">Newsletters</a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">About</h2>
        <ul>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Our Board</a>
          </li>
          <li>
            <a href="">Our Staff</a>
          </li>
          <li>
            <a href="https://www.stgit.com/talk-to-us/">Contact Us</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="ct-footer-meta text-center-sm">
      <!-- <div class="row">
          <div class="col-sm-6 col-md-2">
            <img alt="logo" src="https://www.solodev.com/assets/footer/logo.png">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>WebCorpCo<br></span>123 Easy Street<br>
              Orlando, Florida, 32801<br>
              <span>Phone: <a href="tel:5555555555">(555) 555-8899</a></span>
            </address>
          </div> 
          <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
            <a href="" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
          </div>
          <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
            <a href="" target="_blank"><img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>
          </div>
         
        </div> -->
    </div>
  </div>


  <!-- <div class="inner-left">
          <ul>
            <li>
              <a href="">FAQ</a>
            </li>
            <li>
              <a href="">News</a>
            </li>
            <li>
              <a href="">Contact Us</a>
            </li>
          </ul>
        </div> -->
  <div class="container">
    <p>© 2022 All Rights Reserved. Systems Technology Group, Inc. (STG) </p>
  </div>


</footer>